
<!--
  <!DOCTYPE html>
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"  th:fragment="modelheader">

    <head>
        <meta charset="utf-8"/> 
        <meta name="viewport" content="width=device-width, user-scalable=no"/>

        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/style.css" rel="stylesheet">
        
    </head>

    <body class="jumbotron">
        <div class="container">

          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Mallify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/produtos/list">Produtos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/vendas/list">Vendas</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                    <span>Clientes</span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/clientes/pf/list">Pessoa Fisica</a>
                    <a class="dropdown-item" href="/clientes/list">Todos</a>                    
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Logar</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                    <span th:text="'['+(${session?.venda?.itensVenda?.size}?:'0')+']Carrinho'"></span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/vendas/carrinho">Finalizar compra</a>
                    <a class="dropdown-item" href="/vendas/carrinho/apagar">Limpar carrinho</a>
                  </div>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar produtos" aria-label="Procurar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
          </nav>